.block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;

  margin-block: -96px;

  @include on-tablet {
    margin-block: -120px;
  }

  @include on-desktop {
    margin-block: -120px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
