.header {
  height: 100vh;
  background-image: url(../images/back.svg);
  background-size: cover;
  background-position: center;

  box-sizing: border-box;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include contentPadding;
  }

  &__titel {
    font-size: $font-size-large;
    font-weight: $font-weigth-bold;
    color: $font-color-header-title;
    line-height: 100%;

    @include fontSize;
  }

  &__bottom {
    padding-bottom: 40px;
  }
}
