.icon {
  display: block;
  width: $size-icon;
  height: $size-icon;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.4);
  }

  @include on-tablet {
    width: $size-icon-tablet;
    height: $size-icon-tablet;
  }

  &--phone {
    background-image: url('../images/Phone-number.svg');

    &:hover {
      & ~ .top-bar__phone-number {
        max-width: 300px;
        margin-right: 10px;
      }
    }
  }

  &--menu {
    background-image: url('../images/Vector.svg');

    &:hover {
      background-image: url('../images/Icon-Burger-menu-hover.svg');
    }
  }

  &--close {
    background-image: url('../images/Icon-Close.png');
  }
}
