.icon {
  display: block;
  width: $size-icon;
  height: $size-icon;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include onTablet {
    width: $size-icon-tablet;
    height: $size-icon-tablet;
  }

  &--phone {
    background-image: url('../images/Phone-number.svg');
  }

  &--menu {
    background-image: url('../images/Vector.png');
  }

  &--close {
    background-image: url('../images/Icon-Close.png');
  }
}
