.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: $background-color;
  color: $font-color;
  font-weight: $font-weigth-bold;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include content-padding;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin-menu-top;
  }

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__nav {
    margin-bottom: $margin-bottom-menu-nav;
  }
}
