.nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $font-color;
    font-size: $font-size-medium;
    line-height: $line-height-links;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      display: block;
      background-color: $font-color;
      height: 1px;
      width: 100%;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__phone-number {
    display: block;
    color: $font-color;
    text-decoration: none;
    letter-spacing: $letter-spacing-base;
    line-height: $line-height-base;
    margin-bottom: $margin-bottom-phone-number;
  }

  &__call-to-order {
    display: block;
    color: $font-color;
    text-decoration: none;
    letter-spacing: $letter-spacing-base;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid $font-color;
    width: max-content;
  }
}
