// colors
$font-color: #1b2129;
$font-color-header-title: #fff;
$background-color: #fff;

// font sizes
$font-size-base: 16px;
$font-size-medium: 22px;
$font-size-large: 36px;
$font-size-xlarge: 32px;
$font-weigth-bold: 700;
$font-family-base: Manrope, sans-serif;
$line-height-base: 140%;
$line-height-links: 22px;
$line-height-title: 32px;
$letter-spacing-base: 2px;

// sizes
$size-icon: 24px;
$gap-icon: 24px;
$margin-bottom-phone-number: 16px;
$margin-bottom-menu-nav: 48px;
$margin-menu-top: 32px;
$padding-top-bar: 28px;
$padding-side-top-bar: 20px;

// breakpoints
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1260px;
$size-icon-tablet: 32px;

// grid columns
$aboute-us-grid-colums: 2;
$grid-colums-onTable: 6;
$grid-colums-onDesktop: 12;
