@mixin on-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin content-padding {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

@mixin font-size {
  font-size: 36px;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 56px;
  }
}

@mixin font-title {
  font-size: 32px;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}
