@mixin onTablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin contentPadding() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

@mixin fontSize() {
  font-size: 36px;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 56px;
  }
}

@mixin fontTitle() {
  font-size: 32px;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}
